body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lottie-container {
    display: flex; /* Ensure it's using flexbox */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
}
